<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "" %>peercoin.ca</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header class="row">
      <div class="large-12 columns">
        <h1><a href="/"><%= image_tag "peercoinca.png", style: 'height: 64px;' %></a> peercoin.ca</h1>
      </div>
    </header>

    <%= yield %>
    <%= javascript_include_tag "application" %>

    <footer>
      <div class="row">
        <div class="large-12 columns">
          <h5>peercoin.ca was hand crafted by <a href="http://mikehodgson.com">mike hodgson</a>. <%#=  link_to 'submit a link!', new_link_url %></h5>
          <p>Peercoin donations welcome at: PK7ypikbSv2AygCac5bUPyRruaTHQ3ZgF2</p>
        </div>
      </div>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46129210-1', 'peercoin.ca');
      ga('send', 'pageview');
    </script>
  </body>
</html>